@import url(reset.css);
:root {
    /* BOX-SHADOW */
    --box: 2px 2px 8px rgba(0, 0, 0, 0.6);
    --boxin: inset -2px -2px 18px rgba(21, 21, 21, 0.6);
    --full: 100%;
    --min: 10%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: auto;
    z-index: 0;
}
/*******************************************************
       
        Suppression texte bleu
********************************************************/
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 98vw;
    height: 80px;
    border-radius: 33px;
    margin: 1vw 1vh 1vw 1vh;
    font-size: 1em;
    background: linear-gradient(floralwhite, white);
    box-shadow: var(--box);
    z-index: 6;
}
.anim-header a {
    color: white;
    filter: invert;
} 
.anim-header {
    color: white;
    background: rgba(21, 21, 21, 0.9);
}
img[src="media/img/logo.png"] {
    width: auto;
    height: 50px;
}
nav {
    width: 8%;
    height: 2.6vh;
}
a {
    color: rgba(21, 21, 21, 0.9);
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease;
}
a:hover {
    transform: scale(1.1);
    margin-bottom: -1%;
    text-shadow: 2px 2px 16px rgba(255, 255, 255, 0.7);
    margin-top: -1%;
}
h1 {
    font-size: 1em;
}
main {
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: space-between;
    background: linear-gradient(floralwhite, white);
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 1;
}
video:nth-child(1) {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.showroom {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: space-around;
    width: 100%;
    height: auto;
    z-index: 3;
}
figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    width: 30%;
    height: 100%;
}
figure > img {
    width: 400px;
    height: auto;
}
.background {
    background-image: url(media/img/background.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 10%;
}

.produits {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 50%;
    z-index: 3;
}
.produits > figure {
    padding: 2%;
} 
footer {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50vh;
}
.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: space-around;
    width: 30%;
    height: 300px;
}
h3 {
    font-size: 2em;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
    width: 40%;
}
i {
    display: flex;
    flex-direction: row;
    width: 100%;
}
address {
    font-size: 1.3em;
    width: 30%;
    transition: 0.3s ease-in-out;
}
address:hover {
    text-decoration: underline;
    text-underline-position: under;
}
@media screen and (min-width: 650px) {

}